.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .burgerMenu {
    display: block;
  }
}
@media (max-width: 1365px) {
  .container {
    max-width: 90%;
  }
}
