@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.movieInfoLayoutOuter {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 145, 145, 0.445);
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

.movieInfoLayout {
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 80%;
  height: 80%;
}

.buttonBar {
  width: auto;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

.infoPanelButton {
  float: right;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-left: 5px;
}

@media (max-width: 1365px) {
  .movieInfoLayout {
    width: 95%;
    height: 95%;
  }

  .infoPanelButton {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
}

.infoPanelButton:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.infoPanelButton:active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.movieInfoCard {
  position: relative;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(218, 218, 218) 50%,
    transparent 100%
  );
}

@media (max-width: 600px) {
  .movieInfoCard {
    flex-direction: column;
  }
}

.posterImage {
  overflow: hidden;
  object-fit: cover !important;
  width: unset;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.moviePosterArea {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: unset;
  min-width: 300px;
  align-self: center;
}
.movieDataArea {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movieInfoText {
  width: 90%;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  line-height: 1.34;
  color: rgb(51, 51, 51);
}
